input {
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 20px;
}

.nmb { /*No margin bottom*/
  margin-bottom: 0;
}

.mt4 { /*Margin top 4px*/
  margin-top: 4px;
}

.mt12 { /*Margin top 12px*/
  margin-top: 12px;
}

.mt10 { /*Margin top 10px*/
  margin-top: 10px;
}
